MQTT_URL=mqtt://67.218.141.193:1883
MQTT_USERNAME=chcs
MQTT_PASSWORD=chcs
MQTT_TOPIC=mmc/mot_g802/#

SUPABASE_URL=https://irwnulzddzfcwncqsabn.supabase.co
SUPABASE_SERVICE_ROLE_KEY=replace-with-supabase-service-role-key
